{{template "header"}}
<div class="row">
    <div class="col l12">
        <div class="row">
            <div class="input-field col s12">
                <input name="title" id="title" type="text" class="validate">
                <label for="title">标题</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="chips"></div>
            </div>
        </div>
        <div class="row">
            {{range .Tags}}
            <span class="new badge tag" data-badge-caption="">{{.Name}}</span>
            {{end}}
        </div>
        <!--editor-->
        <div class="row">
            <div class="input-field col s12">
                <object type="text/html" style="width: 100%;min-height: 660px" data="/public/markdown.html"></object>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <a class="btn-large waves-effect waves-light" style="width: 100%;">保存</a>
            </div>
            <div class="input-field col s6">
                <a class="btn-large waves-effect waves-light red lighten-2" style="width: 100%;">发布</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.chips')
        var tags = document.getElementsByClassName("tag")
        var auto = {}
        for (var i = 0; i < tags.length; i++) {
            auto[tags[i].textContent] = null
        }
        M.Chips.init(elems, {
            placeholder: '输入标签',
            autocompleteOptions: {
                data: auto,
                limit: Infinity,
                minLength: 1
            }
        });
    });
    $(document).ready(function(){
        alert();
    })
</script>
{{template "footer"}}