{{template "header"}}
<link rel="stylesheet" href="/public/plugin/editor-md/css/editormd.css" />
<style>
ul>li {
    list-style-type:disc!important;
}
.divider {
    overflow: inherit;
    background-color: inherit;
}
select {
    display: inline-block;
    width: auto;
}
</style>
<div class="row">
    <div class="col l12">
        <div class="row">
            <div class="input-field col s12">
                <input name="title" id="title" type="text" class="validate">
                <label for="title">标题</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="chips"></div>
                <div class="chips chips-initial"></div>
                <div class="chips chips-placeholder"></div>
                <div class="chips chips-autocomplete"></div>
            </div>
        </div>
        <div class="row">
            {{range .Tags}}
            <span class="new badge tag" data-badge-caption="">{{.Name}}</span>
            <input type="hidden" class="{{.Name}}" value="{{.Id}}">
            {{end}}
        </div>
        <!--editor-->
        <div class="row">
            <div class="input-field col s12">
                <!-- <object type="text/html" style="width: 100%;min-height: 660px" data="/public/markdown.html"></object> -->
                <div id="test-editormd"></div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <a class="btn-large waves-effect waves-light save-article" style="width: 100%;">保存</a>
            </div>
            <div class="input-field col s6">
                <a class="btn-large waves-effect waves-light red lighten-2 publish-article" style="width: 100%;">发布</a>
            </div>
        </div>
    </div>
</div>
<script src="/public/plugin/editor-md/editormd.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        let elems = document.querySelectorAll('.chips')
        let tags = document.getElementsByClassName("tag")
        let auto = {}
        for (let i = 0; i < tags.length; i++) {
            auto[tags[i].textContent] = null
        }
        var instance = M.Chips.init(elems, {
            placeholder: '输入标签',
            autocompleteOptions: {
                data: auto,
                limit: Infinity,
                minLength: 1
            }
        });
        // markdown instance
        var mdEditor;
        $(function() {
            mdEditor = editormd("test-editormd", {
                width   : "99%",
                height  : 640,
                syncScrolling : "single",
                path    : "/public/plugin/editor-md/lib/"
            });
        });

        $(".save-article").click(function(){
            persist("/admin/article/save");
        });

        $(".publish-article").click(function(){
            persist("/admin/article/publish");
        });

        function persist(url) {
            var tagIds = []
            var chips = instance[0].chipsData;
            for (let i = 0; i < chips.length; i++) {
                tagIds.push($('input[class="'+chips[i]["tag"]+'"]').val())
            }
            var title = $('input[name="title"]').val();
            var content = mdEditor.getMarkdown();
            $.ajax({
                url: url,
                type: "post",
                data: JSON.stringify({
                    title: title,
                    content: content,
                    tagIds: tagIds
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data.code === 200) {
                        alert("保存成功");
                        //window.location.href = "/admin/article/list";
                    } else {
                        alert("保存失败：" + data.msg);
                    }
                },
                error: function () {

                }
            });
        }
    })
</script>
{{template "footer"}}