{{template "header"}}
<div class="row">
    <div class="col l12">
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="text" class="validate">
                <label for="password">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <label>
                    <input type="checkbox" class="filled-in" />
                    <span>Filled in</span>
                </label>
                <label>
                    <input type="checkbox" class="filled-in" />
                    <span>Filled in</span>
                </label>
                <label>
                    <input type="checkbox" class="filled-in" />
                    <span>Filled in</span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <object type="text/html" style="width: 100%;min-height: 800px" data="/public/markdown.html"></object>
            </div>
        </div>
    </div>
</div>
{{template "footer"}}