{{template "header"}}
<link rel="stylesheet" href="/public/plugin/editor-md/css/editormd.css" />
<style>
ul>li {
    list-style-type:disc!important;
}
.divider {
    overflow: inherit;
    background-color: inherit;
}
select {
    display: inline-block;
    width: auto;
}
</style>
<div class="row">
    <div class="col l12">
        <div class="row">
            <div class="input-field col s12">
                <input name="title" id="title" type="text" class="validate" value="{{.Article.Title}}">
                <label for="title">标题</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="chips"></div>
            </div>
        </div>
        <div class="row">
            {{range .AllTags}}
            <span class="new badge tag" data-badge-caption="">{{.Name}}</span>
            <input type="hidden" class="{{.Name}}" value="{{.Id}}">
            {{end}}
        </div>
        <!--editor-->
        <div class="row">
            <div class="input-field col s12">
                <div id="test-editormd"></div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <a class="btn-large waves-effect waves-light update-article" style="width: 100%;">更新</a>
            </div>
        </div>
    </div>
</div>
<script src="/public/plugin/editor-md/editormd.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        let elem = document.querySelectorAll('.chips')
        let tags = document.getElementsByClassName("tag")
        let auto = {}
        for (let i = 0; i < tags.length; i++) {
            auto[tags[i].textContent] = null
        }
        var instance = M.Chips.init(elem, {
            placeholder: '输入标签',
            autocompleteOptions: {
                data: auto,
                limit: Infinity,
                minLength: 1
            }
        });
        instance.
        
        console.log(instance)
        // markdown instance
        var mdEditor;
        $(function() {
            mdEditor = editormd("test-editormd", {
                width   : "99%",
                height  : 640,
                syncScrolling : "single",
                path    : "/public/plugin/editor-md/lib/"
            });
        });

        $(".update-article").click(function(){
            persist("/admin/article/update");
        });

        function persist(url) {
            var tagIds = []
            $('.chip').each(function(){
                var tagName = $(this)
                .clone()    //clone the element
                .children() //select all the children
                .remove()   //remove all the children
                .end()  //again go back to selected element
                .text();
                tagIds.push($('input[class="'+tagName+'"]').val())
            })
            var title = $('input[name="title"]').val();
            var content = mdEditor.getMarkdown();
            $.ajax({
                url: url,
                type: "post",
                data: {
                    title: title,
                    content: content,
                    tagIds: JSON.stringify(tagIds)
                },
                dataType: "json",
                success: function (data) {
                    console.log(data.code);
                    if (data.code === 200) {
                        alert("保存成功");
                    } else {
                        alert("保存失败：" + data.msg);
                    }
                },
                error: function () {

                }
            });
        }
    })
</script>
{{template "footer"}}