{{template "header"}}
<div class="row">
    <div class="col l12 s12">
        <div class="card darken-1">
            <div class="card-content black-text">
                <span class="card-title">{{.Article.Title}}</span>
                <p>
                    <span>
                        {{range .Tags}}
                        <div class="chip">
                                <a class="red-text text-lighten-2" href="/tag?tag_id={{.Id}}">{{.Name}}</a>
                        </div>
                        {{end}}
                    </span>
                    {{.Article.Content|markDown}}
                </p>
            </div>
        </div>
    </div>
</div>
{{template "footer"}}