{{template "header"}}
<style>
    .card-content > ul > li {
        list-style-type: disc !important;
    }

    .card-content > ul {
        padding-left: inherit;
    }

    .card-content > ol {
        padding-left: inherit;
    }
</style>
<div class="row">
    <div class="col l12 s12">
        <div class="card darken-1">
            <div class="card-content black-text">
                <span class="card-title">{{.Article.Title}}</span>
                <p>
                    <span>
                    {{range .Tags}}
                        <div class="chip">
                                <a class="red-text text-lighten-2" href="/tag?tag_id={{.Id}}">{{.Name}}</a>
                        </div>
                    {{end}}
                    </span>
                {{.Article.Content|markDown}}
                </p>
            </div>
        </div>
    </div>
</div>
{{template "footer"}}
<script type="text/javascript">
    $(document).ready(function () {
        // config language code css
        $("code[class^='language']").each(function (i, el) {
            $(this).parent().css('padding', '12px');
            $(this).parent().css('border', 'solid 1px rgba(51,51,51,0.12)');
            $(this).parent().css('background', 'rgba(246,246,246,0.2)');
        });
        $("code:not([class])").each(function (i, el) {
            $(this).css({
                "padding": ".1em .25em",
                "border": "solid 1px rgba(51,51,51,0.12)",
                "border-radius": ".3em"
            });
        });
    });
</script>