{{template "header"}}
<div class="row">
    <div class="col l12 s12">
        <div class="card darken-1">
            <div class="card-content black-text">
                <span class="card-title">{{.Title}}</span>
                <p>
                    <span>
                        <div class="chip">
                                <a class="red-text text-lighten-2" href="#">数据结构</a>
                        </div>
                        <div class="chip">
                            <a class="red-text text-lighten-2" href="#">数据结构</a>
                        </div>
                        <div class="chip">
                            <a class="red-text text-lighten-2" href="#">数据结构</a>
                        </div>
                    </span>
                    {{.Content}}
                </p>
            </div>
        </div>
    </div>
</div>
{{template "footer"}}