{{template "header"}}
<div class="row">
    <div class="col l8 m8 s12 articles">
    {{range .Articles}}
        <div class="card darken-1">
            <div class="card-content black-text">
                <span class="card-title">
                    <a class="red-text text-lighten-2" href="/article?article_id={{.ArticleId}}">{{.Title}}</a>
                </span>
            </div>
        </div>
    {{end}}
    </div>
    <div class="col l4 m4 s12">
    {{template "slogan"}}
    {{template "tag" .Tags}}
    </div>
</div>
{{template "footer"}}