{{template "header"}}
<div class="row">

    <div class="col l8 articles">
        <div class="card darken-1">
            <div class="card-content black-text">
                <span class="card-title">
                    <a class="red-text text-lighten-2" href="#">AAAAAAAA</a>
                </span>
            </div>
        </div>
        <div class="card darken-1">
            <div class="card-content black-text">
                <span class="card-title">
                    <a class="red-text text-lighten-2" href="#">AAAAAAAA</a>
                </span>
            </div>
        </div>
        <div class="card darken-1">
            <div class="card-content black-text">
                <span class="card-title">
                    <a class="red-text text-lighten-2" href="#">AAAAAAAA</a>
                </span>
            </div>
        </div>
        <div class="card darken-1">
            <div class="card-content black-text">
                <span class="card-title">
                    <a class="red-text text-lighten-2" href="#">AAAAAAAA</a>
                </span>
            </div>
        </div>
    </div>
    <div class="col l4">
    {{template "slogan"}}
        <ul class="collection">
            <li class="collection-item">
                aaaaa
            </li>
            <li class="collection-item">
                aaaaa
            </li>
        </ul>
    </div>
</div>
{{template "footer"}}