{{template "header" .}}
<div class="row">
    <div class="col l8 m8 s12 articles">
        {{range .Articles}}
        <div class="card darken-1">
            <div class="card-content black-text">
                <span class="card-title">
                    <a class="red-text text-lighten-2" href="/article?article_id={{.ArticleId}}">{{.Title}}</a>
                </span>
            </div>
        </div>
        {{end}}
        <ul class="pagination">
            <!-- <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li> -->
            {{.Pagination|html}}
          </ul>
    </div>
    <div class="col l4 m4 s12">
        {{template "slogan"}} {{template "tag" .Tags}}
    </div>
</div>
{{template "footer"}}